{% extends 'base.html'%}

{%block title %}
home
{%endblock%}

{%block content %}
<hr>
<h1 >Contact Us</h1>

<div class="jumbotron jumbotron-fluid bg-info-rgb w-50 my-5 mx-5">
    <div class="container">
      <h1 class="display-10">Whether you are here,<br> everywhere.</h1>
      <hr>
      <p class="lead">Emergency<br>91 0000000000.</p>
      <hr>
      <p class="lead">For International Clients<br>+91 xxxxxxxxxx<br>
        internationalmarketing@cityhospoital.edu</p>
      <hr>
      <p class="lead">Appointment<br>+91 xxxxxxxxxx<br>
        appointments@cityhospoital.edu.</p>
      
    </div>
  </div>

{%endblock%}