{% extends 'base.html'%}

{%block title %}
home
{%endblock%}

{%block content %}
<hr>
<h1 >Contact Us</h1>

<div class="jumbotron jumbotron-fluid bg-info-rgb w-50 my-5 mx-5">
    <div class="container">
      <h1 class="display-10">Whether you are here,<br> everywhere.</h1>
      <hr>
      <p class="lead">Emergency<br><a class="text-danger"href="tel:91 0000000000"><i class="fa-solid fa-phone"></i> +91 0000000000.</p></a>
      <hr>
      <p class="lead">For International Clients<br><a class="text-danger"href="tel:91 0000000000"><i class="fa-solid fa-phone"></i> +91 xxxxxxxxxx<br>
        <i class="fa-solid fa-envelope"></i> internationalmarketing@cityhospoital.edu</p></a>
      <hr>
      <p class="lead">Appointment<br><a class="text-danger"href="tel:91 0000000000"><i class="fa-solid fa-phone"></i> +91 xxxxxxxxxx<br>
        <i class="fa-solid fa-envelope"></i> appointments@cityhospoital.edu.</p></a>
      
    </div>
  </div>

{%endblock%}