{% extends 'adminnav.html' %}
{% load static %}
{% block title %}
adminpage
{% endblock %}

{% block content %}
    {% if error == "no" %}
        <script>
            alert("Login Successfully");
            window.location = ("{% url 'admindashboard' %}");
        </script>
    {% endif %}
    {% if error == "yes" %}
        <script>
            alert("Invalid");
        </script>
    {% endif %}

    <!-- <div class="container"  -->
        <div class="container mt-3">
            
            <div class="mt-3  bg-dark text-white rounded text-center">
              <h1>Admin Page</h1> 
              <img src="https://static.vecteezy.com/system/resources/thumbnails/009/636/683/small_2x/admin-3d-illustration-icon-png.png" class="rounded-circle col-md-3" alt="Cinque Terre">
              <form method="post">
            
                {% csrf_token %}
                
                <div class="col-xs-12 col-md-5 mx-auto p-2"  style="margin: 12px 0;">
                        <label>Admin Name</label>
                        <input type="text" class="form-control" name="uname" placeholder="Name">
                    </div>
                    <div class="col-xs-12 col-md-5 mx-auto p-2"  style="margin: 12px 0;">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pwd" placeholder="Password">
                    </div>
                     
                    <div class="col-xs-12 col-md-5 mx-auto p-2">
                        <input type="submit" value="Login" class="form-control btn btn-primary" style="margin:0px 0 0; width:100px;">
                    </div>
                </div>
                </form>
              </div>
          </div>
        
        
    </div>
{% endblock %}
